
*.vsidx
*.cache
.vs/DS.WindowsApp.Tests/v17/.suo
*.v2
*.v1
*.v1
*.v2
*.v1
.vs/DS.WindowsApp.TestsWPF/v17/.suo
*.v2
.vs/DS.WindowsApp.TestsWPF/v17/.suo
.vs/DS.WindowsApp.TestsWPF/v17/.suo

.vs/DS.WindowsApp.Tests/v17/.suo
/.vs/DS.WindowsApp.Tests/DesignTimeBuild/.dtbcache.v2
/.vs/DS.WindowsApp.TestsWPF/DesignTimeBuild/.dtbcache.v2
/WPF/DS.WpfApp.Phones.MVVM/obj/Debug/net6.0-windows/DS.WpfApp.Phones.MVVM_MarkupCompile.i.cache
